# Bushman dataset transformation
Transformation of Bushman data to have same OTUs, common OTUS, with Johnson dataset so we can use the models trained with a bigger dataset (Johnson)

In [1]:
import pandas as pd

In [4]:
datos_originales = pd.read_csv('resultados_ana/datos_otus_metadatos_especies/otu_table_especies_80.csv')
datos_bushman = pd.read_csv("../papers/info bushman_enterotypes_COMBO/otu_table_commonOTUs.csv")

In [5]:
datos_originales.head()

,otuids,MCT.f.0001,MCT.f.0002,MCT.f.0003,MCT.f.0004,MCT.f.0005,MCT.f.0006,MCT.f.0007,MCT.f.0008,MCT.f.0009,...,MCT.f.0620,MCT.f.0621,MCT.f.0622,MCT.f.0623,MCT.f.0624,MCT.f.0625,MCT.f.0626,MCT.f.0627,MCT.f.0628,MCT.f.0629
0,2,904,63019,4537,31306,16093,14077,24294,31317,35236,...,69627,12233,20033,40537,31500,11537,262,20752,17226,1921
1,6,857,50088,5124,25748,12910,11716,12623,14014,13642,...,2605,406,740,2140,1861,546,20,4358,1291,68
2,7,5,13,6,16,1,13,6,12,10,...,181253,27788,57175,85547,65806,33571,930,84103,61217,4557
3,16,76,4019,423,1744,737,1172,1311,1029,1186,...,16447,2245,4483,14428,14027,4486,78,20397,4850,414
4,18,138,6400,303,2806,775,1129,1523,2436,2017,...,1624,206,366,810,1117,237,4,1330,311,24

In [8]:
datos_originales.shape

(317, 522)

In [6]:
datos_bushman.head()

,otuids,1011.C.3001.01.P1,1011.C.3003.01.P1,1011.C.3006.01.P1,1011.C.3008.01.P1,1011.C.3009.01.P1,1011.C.3011.01.P1,1011.C.3016.01.P1,1011.C.3019.01.P1,1011.C.3026.01.P1,...,1011.C.4018.01.P1,1011.C.3077.01.S1,1011.C.4025.01.S1,1011.C.4001.01.P1,1011.C.4004.01.P1,1011.C.3069.01.S1,1011.C.3018.01.P1,1011.C.3025.01.P1,1011.C.3032.01.S2,1011.C.3062.01.S1
0,2,249,8,18,295,206,70,101,74,89,...,0,852,0,38,11,603,9,191,42,52
1,18,4,0,9,1,3,1,5,15,0,...,0,11,0,0,0,17,1,0,65,7
2,20,167,0,0,2,0,0,117,0,0,...,2,0,0,0,853,83,0,7,187,3
3,32,1,2,44,3,7,111,3,0,0,...,0,8,0,1,0,0,0,0,95,0
4,51,203,63,411,29,167,358,174,206,38,...,8,548,0,30,132,132,37,12,2,0

In [9]:
datos_bushman.shape

(20, 101)

In [13]:
otuids_comunes = datos_bushman["otuids"].values

---------------------------------

In [22]:
datos_nuevo_modelo = datos_originales[datos_originales["otuids"].isin(otuids_comunes)]

In [23]:
datos_nuevo_modelo.head()

,otuids,MCT.f.0001,MCT.f.0002,MCT.f.0003,MCT.f.0004,MCT.f.0005,MCT.f.0006,MCT.f.0007,MCT.f.0008,MCT.f.0009,...,MCT.f.0620,MCT.f.0621,MCT.f.0622,MCT.f.0623,MCT.f.0624,MCT.f.0625,MCT.f.0626,MCT.f.0627,MCT.f.0628,MCT.f.0629
0,2,904,63019,4537,31306,16093,14077,24294,31317,35236,...,69627,12233,20033,40537,31500,11537,262,20752,17226,1921
4,18,138,6400,303,2806,775,1129,1523,2436,2017,...,1624,206,366,810,1117,237,4,1330,311,24
5,20,295,13088,1047,5790,2638,4725,4666,6375,6957,...,11843,1962,3617,7373,6240,2861,65,5905,3939,381
8,32,5,41,132,60,24,59,57,65,85,...,17,5,9,13,16,13,0,111,1,7
15,51,13,335,739,4035,515,2095,3702,1681,2381,...,0,0,4,0,2,0,0,255,0,0

In [26]:
datos_nuevo_modelo.to_csv("otu_table_commonOTUs.csv",index=False)